#! package.cson
name: 'demo.yyfearth.com'
subdomain: 'yyfearth'
domains: [
	'demo.yyfearth.com'
	'apps.yyfearth.com'
	'demo.myyapps.com'
	'apps.myyapps.com'
],
description: 'static apps demo site of yyfearth.com'
keywords: ['static', 'apps', 'demo']
version: '1.2.0'
author: 'Wilson Young <yyfearth@gmail.com>'
scripts:
  start: 'node server.js'
  test: 'coffee server.coffee'
main: 'server.js'
engines:
  node: '0.6.x || 0.8.x'
# license: 'BSD' # diff licenses for each app
