#! package.cson
name: 'demo.yyfearth.com'
subdomain: 'yyfearth'
domains: [
	'demo.yyfearth.com'
	'apps.yyfearth.com'
	'demo.myyapps.com'
	'apps.myyapps.com'
],
description: 'static apps demo site of yyfearth.com'
keywords: ['static', 'apps', 'demo']
version: '1.0.0'
author: 'Wilson Young <yyfearth@gmail.com>'
scripts:
  start: 'node server.js'
  test: 'coffee server.coffee'
main: 'server.js'
engines:
  node: '0.6.x || 0.8.x'
# license: 'BSD' # diff licenses for each app
# dependencies: # dependencies to run
#  none
# use --production to avoid all dev dependencies
# use --dev to install all with their dependencies
# default npm will install the top-level dev dependencies
devDependencies: # for build
  'async': 'latest'
